{% extends 'layout.html' %} {% block title %} Color Converter {% endblock title %} {% block body %}

<body style="background-color: {{value}};">
    <center>
        <div class="color_converter">
            <form method='POST'>
                <label>Enter Red </label><input type="number" name="red" value="0" placeholder="Red"><br><br>
                <label>Enter Green </label><input type="number" name="green" value="0" placeholder="Green"><br><br>
                <label>Enter Blue </label><input type="number" name="blue" value="0" placeholder="Blue"><br><br>
                <input type="submit" value="submit"><br><br>
                <div style="width: 30%; font-size: 50px;">
                    <h1>HEX is: {{value}}</h1>
                </div>
            </form>
    </center>
    </div>
</body>
{% endblock body %}